<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>${title}</title>
        <link rel="stylesheet" type="text/css" href="swagger-ui.css" >
        <link rel="stylesheet" type="text/css" href="${themeHref}" >

        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="${styleHref}" >
    </head>

    <body>
        <div id="swagger-ui"></div>
        <footer id="footer">${footer}</footer>
        <script src="swagger-ui-bundle.js" charset="UTF-8"></script>
        <script src="swagger-ui-standalone-preset.js" charset="UTF-8"> </script>
        <script>

            window.onload = function() {
                
                // If Url is relative, append the host and port
                var oar = "${oauth2RedirectUrl}";
                if(oar.startsWith("/")){
                    oar = window.location.protocol + "//" + window.location.host + oar;   
                }
                
                var ui = SwaggerUIBundle({
                            ${urlSection},
                            dom_id: '${domId}',
                            deepLinking: ${deepLinking},
                            queryConfigEnabled: ${queryConfigEnabled},
                            displayOperationId: ${displayOperationId},
                            defaultModelsExpandDepth: ${defaultModelsExpandDepth},
                            defaultModelExpandDepth: ${defaultModelExpandDepth},
                            defaultModelRendering: '${defaultModelRendering}',
                            displayRequestDuration: ${displayRequestDuration},
                            docExpansion: '${docExpansion}',
                            filter: ${filter},
                            maxDisplayedTags: ${maxDisplayedTags},
                            operationsSorter: ${operationsSorter},
                            showExtensions: ${showExtensions},
                            showCommonExtensions: ${showCommonExtensions},
                            tagsSorter: ${tagsSorter},
                            onComplete: ${onComplete},
                            syntaxHighlight: ${syntaxHighlight},
                            requestInterceptor: ${requestInterceptor},
                            request.curlOptions: ${requestCurlOptions},
                            responseInterceptor: ${responseInterceptor},
                            showMutatedRequest: '${showMutatedRequest}',
                            supportedSubmitMethods: ${supportedSubmitMethods},
                            validatorUrl: '${validatorUrl}',
                            withCredentials: ${withCredentials},
                            modelPropertyMacro: '${modelPropertyMacro}',
                            parameterMacro: '${parameterMacro}',
                            persistAuthorization: ${persistAuthorization},
                            presets: ${presets},
                            plugins: ${plugins},
                            layout: '${layout}',
                            oauth2RedirectUrl: oar,
                            ${preauthorizeSection}
                          })
                
                ${initOAuthSection}
                
                window.ui = ui;

                document.getElementsByClassName("link")[0].innerHTML = "<a id='swaggerUiLogoLink' href='${backHref}'><img src='${logoHref}' alt='${title}' height='44' align='middle'></a><a id='swaggerUiTitleLink' href='${selfHref}'></a>";
            }
        </script>
    </body>
</html>
